@CHARSET "EUC-KR";

div.nham-dropdown-detail{
	background: #fff;
	display: none;
	border: 1px solid #BDBDBD;
	position: absolute;
	width: 100%;
	z-index: 99999;
}
.nham-dropdown-detail-

/* div.nham-dropdown-result-wrapper {
	
}
.nham-dynamic-height{
	height: 210px;
	overflow-y: auto;
	
} */
div.nham-dropdown-more{
	display:none;
}
div.nham-dropdown-result, div.nham-dropdown-more, div.nham-dropdown-multi-result {
	width: 100%;
	height: 30px;
	line-height: 30px;
	border-top: 1px solid #E0E0E0;
	cursor: pointer;
	
}
div.nham-dropdown-result p span.title, div.nham-dropdown-multi-result p span.title{
	
	font-weight: bold;
}
div.nham-dropdown-noresult{
	
	width: 100%;
	height: 45px;
	line-height: 50px;
	border-top: 1px solid #E0E0E0;
	font-weight: bold;
	text-align: center;
	color: #42A5F5;
	word-wrap: break-word;
	
}
div.nham-dropdown-question{
	
	width: 100%;
	height: 30px;
	line-height: 30px;
	border-top: 1px solid #E0E0E0;
	text-align: center;
	color: #42A5F5;
	word-wrap: break-word;
}

div.nham-dropdown-result p , div.nham-dropdown-multi-result p{
	margin-left: 8px;
}

div.nham-dropdown-result-footer {
	border-top: 1px solid #E0E0E0;
	padding: 10px;
	height: 60px;
	display:none;
	
}

div.nham-dropdown-result:hover , div.nham-dropdown-multi-result:hover{
	background: #E0E0E0;
}

.nham-dropdown-wrapper {
	position: relative;
}

button.nhamey-btn {
	width: 130px;
	height: 40px;
	border-radius: 0;
}

div.nham-dropdown-result-wrapper{
	
	max-height: 240px;
	overflow: auto;
}

div.display-result-wrapper{
	
	overflow:hidden;
}

.small div.nham-dropdown-result-wrapper {
	height: 180px;
	overflow-y: auto;
}
.small div.nham-dropdown-result, .small div.nham-dropdown-more {
	width: 100%;
	height: 30px;
	line-height: 30px;
	border-top: 1px solid #E0E0E0;
	cursor: pointer;
}
.small div.nham-dropdown-result-footer {
	border-top: 1px solid #E0E0E0;
	padding: 10px;
	height: 50px;
	display:none;
}
.small button.nhamey-btn {
	width: 130px;
	height: 30px;
	border-radius: 0;
}
img.icon{
	width:22px;
	height:22px;
	margin-top: 3px;
	margin-left:5px;
	margin-right: 5px;
	border-radius: 2px;
}
img.icon-input{
	width:18px;
	height:18px;
	margin-top: 8px;
	margin-left:5px;
	margin-right: 5px;
	border-radius: 2px;
	
}
i.font-icon-cross{
	
	position:absolute;
	top:3px;
	right: 5px;
	cursor: pointer;
	padding:5px;
	font-size: 18px;
}



.icon-after-select{
	width:17px;
	height:17px;
	margin-top: 4px;
	margin-left:5px;
	margin-right: 5px;
	border-radius: 2px;
}

div.selected-category-box{
	height:25px;
	margin-top:5px;
	border-radius: 3px;
	background: #BDBDBD;
	
	margin-right:5px;
}
p.text-serve-category-selected{
	line-height: 25px;
}
i.close-item{
	cursor: pointer;
}
div.error-selected-result{
	height:0px;
	margin-top:5px;
	visibility: hidden;
	-webkit-transition: all 0.1s ;
	-moz-transition: all 0.1s ;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s ;
	transition: all 0.1s ;
	background: #fff;
	white-space: normal;
}
div.error-selected-result p{
	color: #dd4b39;
	font-weight: bold;

}