@CHARSET "EUC-KR";

.nham-control-group {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin-right: 20px;
}

.nham-control {
	display: block;
	position: relative;
	padding-left: 30px;
	cursor: pointer;
}

.nham-control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.nham-control__indicator {
	position: absolute;
	top: 2px;
	left: 0;
	height: 20px;
	width: 20px;
	background: #e3e3e3;
}

.nham-control--radio .nham-control__indicator {
	border-radius: 50%;
}

.nham-control:hover input ~ .nham-control__indicator, .nham-control input:focus 
	~ .nham-control__indicator {
	background: #e3e3e3;
}

.nham-control input:checked ~ .nham-control__indicator {
	background: #dd4b39;
}

.nham-control:hover input:not ([disabled] ):checked ~
	.nham-control__indicator, .nham-control input:checked:focus ~
	.nham-control__indicator {
	background: #dd4b39;
}

.nham-control input:disabled ~ .nham-control__indicator {
	background: #dd4b39;
	opacity: 0.6;
	pointer-events: none;
}

.nham-control__indicator:after {
	content: '';
	position: absolute;
	display: none;
}

.nham-control input:checked ~ .nham-control__indicator:after {
	display: block;
}

.nham-control--checkbox .nham-control__indicator:after {
	left: 8px;
	top: 4px;
	width: 5px;
	height: 10px;
	border: solid #fff;
	border-width: 0 2px 2px 0;
	transform: rotate(50deg);
}

.nham-control--checkbox input:disabled ~ .nham-control__indicator:after
	{
	border-color: #7b7b7b;
}