@CHARSET "EUC-KR";

.left-gap-10{
	
	margin-left: 10px;
}

.left-gap-20{
	
	margin-left: 20px;
}

.right-gap-10{
	
	margin-left: 10px;
}

.right-gap-20{
	
	margin-left: 20px;
}
.font-size-20{
	
	font-size: 20px;
}
.nham-center-element{
	position:absolute;
	left:50%;
}
input::-webkit-input-placeholder {
    color: #9E9E9E;
    font-family: Georgia, serif;
}
input:focus::-webkit-input-placeholder {
    color: #BDBDBD;
}

/* Firefox < 19 */
input:-moz-placeholder {
   color: #9E9E9E;
    font-family: Georgia, serif;
}
input:focus:-moz-placeholder {
   color: #BDBDBD;
}

/* Firefox > 19 */
input::-moz-placeholder {
    color: #9E9E9E;
    font-family: Georgia, serif;
}
input:focus::-moz-placeholder {
    color: #BDBDBD;
}

/* Internet Explorer 10 */
input:-ms-input-placeholder {
   color: #9E9E9E;
    font-family: Georgia, serif;
}
input:focus:-ms-input-placeholder {
   color: #BDBDBD;
}
textarea::-webkit-input-placeholder {
    color: #9E9E9E;
    font-family: Georgia, serif;
}
textarea:focus::-webkit-input-placeholder {
    color: #BDBDBD;
}

/* Firefox < 19 */
textarea:-moz-placeholder {
   color: #9E9E9E;
    font-family: Georgia, serif;
}
textarea:focus:-moz-placeholder {
   color: #BDBDBD;
}

/* Firefox > 19 */
textarea::-moz-placeholder {
    color: #9E9E9E;
    font-family: Georgia, serif;
}
textarea:focus::-moz-placeholder {
    color: #BDBDBD;
}

/* Internet Explorer 10 */
textarea:-ms-input-placeholder {
   color: #9E9E9E;
    font-family: Georgia, serif;
}
textarea:focus:-ms-input-placeholder {
   color: #BDBDBD;
}
