@CHARSET "EUC-KR";

div.add-background {
	background: #E0E0E0;
}

div.div-top-gap {
	margin-top: 10px;
}

.gray-color {
	color: #9E9E9E;
	font-style: italic;
	font-size: 16px;
}

.gray-color-noitalic {
	color: #9E9E9E;
	font-size: 16px;
}

span.red-background {
	background: #dd4b39 !important;
	color: #fff;
}

div.image-browsing {
	width: 170px;
	height: 190px;
	border-radius: 0;
	background: #E0E0E0;
	cursor: pointer;
	margin-top: 12px;
}
.no-data-wrapper{
	
}
i.disable-cover{
	
	position: absolute;
	right: 5px;
	top: 1px;
	font-size: 25px;
	color: #dd4b39;
	cursor: pointer;
	
}
.no-data-icon{
	margin-top:5px;
	color: #BDBDBD;
	font-size: 20px;
	margin-right: 8px;
}
.no-data-text{
	font-family: cursive;
	color: #BDBDBD;
	font-weight: bold;
}
div.logo-browsing-wrapper {
	
	border: 1px dashed #e1e1e1;
}


p.tagp-of-i {
	font-size: 80px;
	color: #9E9E9E;
}

.top-gap {
	margin-top: 6px;
}

span.nham-box-wrap {
	background: #BDBDBD;
	margin-right: 2px;
	padding: 3px;
	border-radius: 2px;
}

span.nham-box-wrap>i:hover {
	cursor: pointer;
}

span.nham-box-wrap:hover {
	background: #9E9E9E;
}

div.phone-add-result {
	margin-top: 6px;
}
button.shop-save{
	width: 100%;
	height: 50px;
	
	
}
.nham-append-data:hover{
	background: ;
	cursor: pointer;
}

div.image-upload-wrapper{
	margin: 8px;
	width: 180px;
	min-height: 190px;
	padding: 5px;
	background: #E0E0E0;
	
}
div.image-upload-wrapper-cover{
	margin: 8px;
	width: 320px;
	min-height: 190px;
	padding: 5px;
	background: #E0E0E0;
	
}
img.upload-shop-img{
	max-width: 100%; 
	height: auto;
} 
img.loading-inside-box{
	position:absolute;
	 top: 50%;
}
.loading-box{
	background:white;
	opacity:0.6
}
div.upload-image-hover{
	position:absolute;
	width: 100%;
	top:0; 
	left:0; 
	height: 100%; 
	z-index: 200;
	cursor: pointer;
}
div.upload-image-loading{
	position:absolute;
	width: 100%;
	top:0; 
	left:0; 
	height: 100%; 
	z-index: 201;
}
div.upload-image-remove{
	position:absolute;
	width: 100%;
	top:0; 
	left:0; 
	height: 100%; 
	z-index: 1000;
	
	
}
button.nhambtn{
	
	border-radius: 0;
}
div.upload-image-remove i{
	position:absolute;
	right: 5px;
	top: 2px;
	color: gray;
	font-size: 18px;
	cursor: pointer;
	color: #EF5350;	
}
div.upload-image-remove-background{
	position:absolute;
	width: 100%;
	top:0; 
	left:0; 
	height: 100%; 
	z-index: 202;
	background: gray;
	opacity: 0.1;
	
}

.gray-image-plus{
	font-size:80px;
	color:#9E9E9E;
}
textarea.nham_description{	
	width:98%;
	border:0;
	bottom:0px;
	display:none;
	resize:none;
	height: 50px;
}
