@CHARSET "EUC-KR";

div.nham-dropdown-detail {
	background: #fff;
	display: none;
	border: 1px solid #BDBDBD;
	position: absolute;
	width: 100%;
	z-index: 99999;
}

div.nham-dropdown-result-wrapper {
	
}
.nham-dynamic-height{
	height: 210px;
	overflow-y: auto;
	
}
div.nham-dropdown-more{
	display:none;
}
div.nham-dropdown-result, div.nham-dropdown-more {
	width: 100%;
	height: 30px;
	line-height: 30px;
	border-top: 1px solid #E0E0E0;
	cursor: pointer;
}

div.nham-dropdown-result p {
	margin-left: 8px;
}

div.nham-dropdown-result-footer {
	border-top: 1px solid #E0E0E0;
	padding: 10px;
	height: 60px;
	display:none;
}

div.nham-dropdown-result:hover {
	background: #E0E0E0;
}

.nham-dropdown-wrapper {
	position: relative;
}

button.nhamey-btn {
	width: 130px;
	height: 40px;
	border-radius: 0;
}



.small div.nham-dropdown-result-wrapper {
	height: 180px;
	overflow-y: auto;
}
.small div.nham-dropdown-result, .small div.nham-dropdown-more {
	width: 100%;
	height: 30px;
	line-height: 30px;
	border-top: 1px solid #E0E0E0;
	cursor: pointer;
}
.small div.nham-dropdown-result-footer {
	border-top: 1px solid #E0E0E0;
	padding: 10px;
	height: 50px;
	display:none;
}
.small button.nhamey-btn {
	width: 130px;
	height: 30px;
	border-radius: 0;
}